@font-face{
  font-family: Vazir;
  font-style: normal;
  font-weight: 800;
  src: url('../setup/assets/font/Vazir-Bold-FD.eot');
  src: url('../setup/assets/font/Vazir-Bold-FD.eot') format('mbedded-opentype'),
       url('../setup/assets/font/Vazir-Bold-FD.woff') format('woff'),
       url('../setup/assets/font/Vazir-Bold-FD.ttf') format('truetype');
}
@font-face{
  font-family: Vazir;
  font-style: normal;
  font-weight: 700;
  src: url('../setup/assets/font/Vazir-Medium-FD.eot');
  src: url('../setup/assets/font/Vazir-Medium-FD.eot') format('mbedded-opentype'),
       url('../setup/assets/font/Vazir-Medium-FD.woff') format('woff'),
       url('../setup/assets/font/Vazir-Medium-FD.ttf') format('truetype');
}
@font-face{
  font-family: Vazir;
  font-style: normal;
  font-weight: 600;
  src: url('../setup/assets/font/Vazir-FD.eot');
  src: url('../setup/assets/font/Vazir-FD.eot') format('mbedded-opentype'),
       url('../setup/assets/font/Vazir-FD.woff') format('woff'),
       url('../setup/assets/font/Vazir-FD.ttf') format('truetype');
}
@font-face{
  font-family: Vazir;
  font-style: normal;
  font-weight: 500;
  src: url('../setup/assets/font/Vazir-Light-FD.eot');
  src: url('../setup/assets/font/Vazir-Light-FD.eot') format('mbedded-opentype'),
       url('../setup/assets/font/Vazir-Light-FD.woff') format('woff'),
       url('../setup/assets/font/Vazir-Light-FD.ttf') format('truetype');
}
* {
  box-sizing: border-box;
  font-family: "Vazir"!important;
  direction: rtl;
}

html,
body {
  overflow: hidden;
  height: 100%;
}
#__next{
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  background: #03122c;
}
a {
  color: inherit;
  text-decoration: none;
}
